# Data training using efficient_apriori package

## Import packages

In [21]:
import pandas as pd
import numpy as np
from efficient_apriori import apriori
# apriori?

### Usage and examples of apriori

**Signature:**  
apriori(  
    transactions: Union[List[tuple], Callable],  
    min_support: float = 0.5,  
    min_confidence: float = 0.5,  
    max_length: int = 8,  
    verbosity: int = 0,  
    output_transaction_ids: bool = False,  
)  
  
**Examples:**  
transactions = [('a', 'b', 'c'), ('a', 'b', 'd'), ('f', 'b', 'g')]  
itemsets, rules = apriori(transactions, min_confidence=1)  
rules  
[{a} -> {b}]

## Data load

In [22]:
dataset = pd.read_csv('./Market_Basket_Optimisation.csv', header=None) # ！Notice: header = None 
dataset.head(5) # view the first 5 raws

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
dataset.shape  # view the shape of the dataset

(7501, 20)

## Data clean

In [24]:
transactions = [] # pre-defined a dataset
for i in range(0,dataset.shape[0]): 
    # dataset.shape[0] means row of the dataset
    # dataset.shape[1] means col of the dataset
    temp = []
    for j in range(0,dataset.shape[1]):
        if str(dataset.values[i,j]) != 'nan':
            temp.append(dataset.values[i,j])
            # ！Notice 
            # dataset.values not dataset.value
            # dataset.iloc[i,j] also works
    transactions.append(temp)

# transactions 
# view the dataset transactions

## Data training using Apriori package

In [25]:
itemsets,rules = apriori(transactions, min_support=0.02, min_confidence=0.3)

print('Frequent Set: ',itemsets)      # definded by min_support
print('=============================================')
print('Association Rules: ',rules)    # definded by min confidence

# itemsets 
# rules

Frequent Set:  {1: {('mineral water',): 1788, ('shrimp',): 536, ('cottage cheese',): 239, ('energy drink',): 200, ('low fat yogurt',): 574, ('green tea',): 991, ('avocado',): 250, ('salmon',): 319, ('olive oil',): 494, ('almonds',): 153, ('frozen smoothie',): 475, ('vegetables mix',): 193, ('honey',): 356, ('tomato juice',): 228, ('meatballs',): 157, ('eggs',): 1348, ('burgers',): 654, ('turkey',): 469, ('energy bar',): 203, ('whole wheat rice',): 439, ('milk',): 972, ('whole wheat pasta',): 221, ('french fries',): 1282, ('soup',): 379, ('frozen vegetables',): 715, ('spaghetti',): 1306, ('cookies',): 603, ('cooking oil',): 383, ('champagne',): 351, ('chocolate',): 1229, ('chicken',): 450, ('oil',): 173, ('fresh tuna',): 167, ('tomatoes',): 513, ('pepper',): 199, ('red wine',): 211, ('ham',): 199, ('pancakes',): 713, ('grated cheese',): 393, ('fresh bread',): 323, ('ground beef',): 737, ('escalope',): 595, ('herb & pepper',): 371, ('strawberries',): 160, ('cake',): 608, ('hot dogs',): 243, ('brownies',): 253, ('cereals',): 193, ('muffins',): 181, ('light mayo',): 204, ('yogurt cake',): 205, ('butter',): 226, ('french wine',): 169}, 2: {('frozen smoothie', 'mineral water'): 152, ('green tea', 'mineral water'): 233, ('low fat yogurt', 'mineral water'): 180, ('mineral water', 'olive oil'): 207, ('mineral water', 'shrimp'): 177, ('burgers', 'eggs'): 216, ('milk', 'mineral water'): 360, ('mineral water', 'whole wheat rice'): 151, ('frozen vegetables', 'spaghetti'): 209, ('green tea', 'spaghetti'): 199, ('burgers', 'mineral water'): 183, ('cooking oil', 'mineral water'): 151, ('eggs', 'mineral water'): 382, ('chicken', 'mineral water'): 171, ('eggs', 'spaghetti'): 274, ('mineral water', 'spaghetti'): 448, ('mineral water', 'tomatoes'): 183, ('spaghetti', 'tomatoes'): 157, ('french fries', 'milk'): 178, ('chocolate', 'eggs'): 249, ('mineral water', 'pancakes'): 253, ('pancakes', 'spaghetti'): 189, ('milk', 'spaghetti'): 266, ('ground beef', 'milk'): 165, ('ground beef', 'mineral water'): 307, ('ground beef', 'spaghetti'): 294, ('chocolate', 'french fries'): 258, ('chocolate', 'mineral water'): 395, ('eggs', 'french fries'): 273, ('french fries', 'mineral water'): 253, ('frozen vegetables', 'mineral water'): 268, ('chocolate', 'frozen vegetables'): 172, ('cake', 'mineral water'): 206, ('french fries', 'green tea'): 214, ('french fries', 'pancakes'): 151, ('chocolate', 'green tea'): 176, ('chocolate', 'spaghetti'): 294, ('chocolate', 'ground beef'): 173, ('chocolate', 'milk'): 241, ('frozen vegetables', 'milk'): 177, ('mineral water', 'soup'): 173, ('olive oil', 'spaghetti'): 172, ('burgers', 'french fries'): 165, ('burgers', 'spaghetti'): 161, ('french fries', 'spaghetti'): 207, ('shrimp', 'spaghetti'): 159, ('eggs', 'green tea'): 191, ('eggs', 'milk'): 231, ('eggs', 'pancakes'): 163, ('eggs', 'frozen vegetables'): 163}}
=============================================
Association Rules:  [{frozen smoothie} -> {mineral water}, {low fat yogurt} -> {mineral water}, {olive oil} -> {mineral water}, {shrimp} -> {mineral water}, {burgers} -> {eggs}, {milk} -> {mineral water}, {whole wheat rice} -> {mineral water}, {cooking oil} -> {mineral water}, {chicken} -> {mineral water}, {spaghetti} -> {mineral water}, {tomatoes} -> {mineral water}, {tomatoes} -> {spaghetti}, {pancakes} -> {mineral water}, {ground beef} -> {mineral water}, {ground beef} -> {spaghetti}, {chocolate} -> {mineral water}, {frozen vegetables} -> {mineral water}, {cake} -> {mineral water}, {soup} -> {mineral water}, {olive oil} -> {spaghetti}]

# Data train using Mlxtend package
## import packages

**!Notice   
You have to import the mlxtend package here but not above, because the function (apriori) is the same, and python will take the latest one.**

In [26]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
# apriori?

### Usage and examples of apriori

**Signature:**    
apriori(  
    df,  
    min_support=0.5,  
    use_colnames=False,  
    max_len=None,  
    verbose=0,  
    low_memory=False,  
)  

**The allowed values are either 0/1 or True/False.  
For example**

```
         Apple  Bananas   Beer  Chicken   Milk   Rice
    0     True    False   True     True  False   True
    1     True    False   True    False  False   True
    2     True    False   True    False  False  False
    3     True     True  False    False  False  False
    4    False    False   True     True   True   True
    5    False    False   True    False   True   True
    6    False    False   True    False   True  False
    7     True     True  False    False  False  False
```

## Data load

In [27]:
data_df = pd.read_csv('./Market_Basket_Optimisation.csv', header=None) # ！Notice: header = None 
data_df.head(5) # view the first 5 raws

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data clean

In [28]:
data_list = data_df.values.tolist()
for i in range(len(data_list)):
    for j in range(len(data_list[i])):
        data_list[i][j] = str(data_list[i][j])      # replace the type of values with string
    data_list[i] = ','.join(data_list[i])

df2 = pd.DataFrame(data_list, columns=['item']) 
df3 = df2.item.str.get_dummies(',').drop('nan',axis=1,inplace=False)
df3.head(5)

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

**Here we can get the sparse matrix df3. But there is a problem that there is one column name is `nan`, so we have the use the `.drop('nan',axis=1,inplace=False)` to remove it.  
Using the code below, we can see the 77th column name is `nan`**

In [29]:
df = df2.item.str.get_dummies(',')
print(df3.shape)
print(df.shape)

for i in range(120):
     if df3.columns[i] != df.columns[i]:
           print(i, df3.columns[i], df.columns[i])
           break

(7501, 120)
(7501, 121)
77 napkins nan

## Data training using Mlxtend package

In [30]:
frequent_itemsets = apriori(df3, min_support=0.02, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.5) 
rules = rules.sort_values(by="lift" , ascending=False) 

print("frequent sets：", frequent_itemsets) 
print("association rules：", rules[ (rules['lift'] >= 1) & (rules['confidence'] >= 0.3) ])

frequent sets：       support                           itemsets
0    0.020397                          (almonds)
1    0.033329                          (avocado)
2    0.033729                         (brownies)
3    0.087188                          (burgers)
4    0.030129                           (butter)
..        ...                                ...
98   0.020131  (mineral water, whole wheat rice)
99   0.022930             (olive oil, spaghetti)
100  0.025197              (spaghetti, pancakes)
101  0.021197                (spaghetti, shrimp)
102  0.020931              (spaghetti, tomatoes)

[103 rows x 2 columns]
association rules：             antecedents      consequents  antecedent support  \
71        (ground beef)      (spaghetti)            0.098254
92          (olive oil)      (spaghetti)            0.065858
85               (soup)  (mineral water)            0.050527
1             (burgers)           (eggs)            0.087188
79          (olive oil)  (mineral water)            0.065858
99           (tomatoes)      (spaghetti)            0.068391
69        (ground beef)  (mineral water)            0.098254
29        (cooking oil)  (mineral water)            0.051060
11            (chicken)  (mineral water)            0.059992
59  (frozen vegetables)  (mineral water)            0.095321
75               (milk)  (mineral water)            0.129583
89           (tomatoes)  (mineral water)            0.068391
81           (pancakes)  (mineral water)            0.095054
91   (whole wheat rice)  (mineral water)            0.058526
87          (spaghetti)  (mineral water)            0.174110
9                (cake)  (mineral water)            0.081056
83             (shrimp)  (mineral water)            0.071457
25          (chocolate)  (mineral water)            0.163845
55    (frozen smoothie)  (mineral water)            0.063325
73     (low fat yogurt)  (mineral water)            0.076523

    consequent support   support  confidence      lift  leverage  conviction
71            0.174110  0.039195    0.398915  2.291162  0.022088    1.373997
92            0.174110  0.022930    0.348178  1.999758  0.011464    1.267048
85            0.238368  0.023064    0.456464  1.914955  0.011020    1.401255
1             0.179709  0.028796    0.330275  1.837830  0.013128    1.224818
79            0.238368  0.027596    0.419028  1.757904  0.011898    1.310962
99            0.174110  0.020931    0.306043  1.757755  0.009023    1.190117
69            0.238368  0.040928    0.416554  1.747522  0.017507    1.305401
29            0.238368  0.020131    0.394256  1.653978  0.007960    1.257349
11            0.238368  0.022797    0.380000  1.594172  0.008497    1.228438
59            0.238368  0.035729    0.374825  1.572463  0.013007    1.218270
75            0.238368  0.047994    0.370370  1.553774  0.017105    1.209650
89            0.238368  0.024397    0.356725  1.496530  0.008095    1.183991
81            0.238368  0.033729    0.354839  1.488616  0.011071    1.180529
91            0.238368  0.020131    0.343964  1.442993  0.006180    1.160960
87            0.238368  0.059725    0.343032  1.439085  0.018223    1.159314
9             0.238368  0.027463    0.338816  1.421397  0.008142    1.151921
83            0.238368  0.023597    0.330224  1.385352  0.006564    1.137144
25            0.238368  0.052660    0.321400  1.348332  0.013604    1.122357
55            0.238368  0.020264    0.320000  1.342461  0.005169    1.120047
73            0.238368  0.023997    0.313589  1.315565  0.005756    1.109585